<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <body>
        <h1>Hello World from Spring Boot</h1>

        <div>
            <h2>Pub/Sub demo</h2>

            <a href="/pubsub">Click Here to test out Cloud Pub/Sub</a>
        </div>

        <hr class="solid">
        <div>
            <p>To test the logging framework, click on the following links: </p>
            <ul>
                <li><a href="infoMsg">Log an info message</a></li>
                <li><a href="warnMsg">Log a warning message</a></li>
                <li><a href="errorMsg">Log an error message</a></li>
            </ul>
        </div>
    </body>
</html>



